@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
}

html {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.card {
    height: auto;
    max-width: 350px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 1px 1px #0C1729,
    0 2px 2px #0C1729,
    0 4px 4px #0C1729,
    0 8px 8px #0C1729,
    0 16px 16px #0C1729,
    0 64px 64px #0C1729;
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

h1 {
    color: #fff;
    font-size: 1.25rem;
}

h1:hover, p span:hover {
    cursor: pointer;
    color: #1EF5EE;
    transition: 400ms all;
}

.img-nft {
    height: auto;
    width: 100%;
}

.img-nft,
.card {
    border-radius: 15px;
}

.center {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    height: 310px;
    width: 310px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    transition: 400ms all;
}

.icon-view {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 400ms all;
}

.center:hover + .icon-view {
    display: block;
    transition: 400ms all;
}

.center:hover {
    cursor: pointer;
    background-color: #1EF5EE;
    opacity: 50%;
}

.p-content {
    padding-top: 30px;
    font-size: 1.125rem;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.card-price-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon-eth {
    height: 18px;
    width: 12px;
}

.icon-clock {
    height: 18px;
    width: 18px;    
}

.card-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #1EF5EE;
}

.card-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: hsl(0, 0%, 100%);
}

hr {
    border-top: 1px solid hsl(215, 32%, 27%);
}

.card-credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.avatar {
    height: 32px;
    width: 32px;
    outline: 1px solid #fff;
    border-radius: 50%;
}

.p-credits {
    font-size: 1.125rem;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

p span {
    color: #fff;
    transition: 400ms all;
}

.attribution {
    margin-top: -25px;
    width: 100%;
    color: #fff;
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}